*{
  box-sizing: border-box;
}
body{
  padding: 0;
  margin: 0;
  font-style: 16 px;
  line-height: 1.5;
  font-family: "Open Sans","Arial", sans-serif;
  color: #444444;
}

*:focus{
outline: 2px double #DE2E54;
outline-offset: 2px;
}

.container{
  width: 100%;
  max-width:;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.site-header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.site-header-logo{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #222222;
  font-weight: 600;
  font-size: 24px;
}
.site-header-logo:hover{
  background-color: #DE2E54;
}

.site-header-img{
  border-radius: 50%;
  margin-right: 16px;
}


.site-footer-heading{
  color: #fff;
}

.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header-actions{
 display: flex;
 align-items: center;
}

.sitenav-list{
  list-style:none;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}
.sitenav-item:not(last-child){
  margin-right: 32px;
}

.sitenav-link{
  font-style: normal;
  font-weight: bold;
  font-family:"Open Sans";
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  color: #222222;
}
.sitenav-link:hover {
  color: #DE2E54;
}
.sitenav-link:active{
  opacity: 0.6;
}

.main-link{
  display: block;
  border-radius: 8px;
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 2px;
 text-transform: uppercase;
 color:#FFFFFF;
 background: #DE2E54;
 text-decoration: none;
}
.main-link:hover{
  background-color: #fff;
  color: #DE2E54;
}
.main-link:active{
background-color:#DE2E54; ;
color: #fff;
opacity: 0.6;
}

.hero{
  background-color: #0EB4C1;;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.hero-content{
  width: 500px;
}
.hero-img{
  width: 423px;
  height: 493px;
}
.hero-heading{
  font-style: normal;
  font-weight: 700;
  font-family: "Open Sans;
  font-size: 36px;
  line-height: 43.2px;
}
.hero-text{
  font-size: 18px;
  line-height: 150%;
  font-family: "Open Sans", sans-serif;
}

.features-heading{
  width: 133px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height:43px;
  color: #000000;
}

.feature{
width: 600px;
}

.features-list{
 width: 864px;
 display: flex;
 align-items: center;
}
.features-title{
  font-size: 24px;
  line-height:29px;
  color: #222222;
}
.features-info{
  font-size: 16px;
  line-height:24px;
  color: #444444;
}
.reception{
background-color: #0EB4C1;
color: #FFFFFF;
width: 1440px;
}

.reception-heading{
font-weight: bold;
font-size: 36px;
line-height:43px;


}
.reception-text{
  font-size: 15px;
  line-height:18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}

.site-footer{
  background: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-footer-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-footer-actions{
  display: flex;
  align-items: center;
}
.sitenavlist-bottom{
  list-style: none;
  display: flex;
}

.sitenav-link-bottom{
  font-style: normal;
  font-weight: bold;
  font-family:"Open Sans";
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}
.sitenav-link-bottom:hover{
  color: #DE2E54;
}
